<a href="https://colab.research.google.com/github/obeabi/SdsOctober2020Challenge/blob/main/CategoricalCols_Main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Written by Abiola Obembe
# SDS October Challenge #2 - Used Car Prices
## 2021-01-09

## Feature engineering of categorical columns

This month you have been hired by a new car trader company to help sell its used cars. You will be analyzing used cars from multiple manufacturers and of different models. Your job is to help the car trader company determine the price of its used cars.

## Step 1: Data Preprocessing

In [363]:
# Download packages
!pip install category_encoders

Requirement already satisfied: category_encoders in /usr/local/lib/python3.6/dist-packages (2.2.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.1.5)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.19.4)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)

In [364]:
# Importing the libraries
import pickle
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from scipy import stats
from scipy.stats import f_oneway
from scipy.stats import  zscore
import category_encoders as ce
from sklearn.preprocessing import StandardScaler 
from sklearn.linear_model  import Ridge,Lasso,RidgeCV, LassoCV, ElasticNet, ElasticNetCV, LinearRegression
from sklearn.model_selection import train_test_split

%matplotlib inline
plt.rcParams['figure.figsize'] = (8.0, 6.0) # set default size of plots
plt.rcParams['image.interpolation'] = 'nearest'
plt.rcParams['image.cmap'] = 'gray'

print('Libraries installed successfully!')

np.random.seed(0)

Libraries installed successfully!

In [365]:
# Suppressing warnings
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [366]:
# Importing the training dataset

df_train = pd.read_csv('Train.csv', engine= 'python', encoding= 'latin1')
df_train.drop('Unnamed: 0', axis = 1, inplace = True)

df_train.head()

  manufacturer_name model_name  ... duration_listed price_usd
0              Ford     Fusion  ...               7    4250.0
1             Dodge    Caravan  ...             133    4000.0
2              Ford     Galaxy  ...               0   10900.0
3             Mazda          6  ...              20    6999.0
4              Audi         80  ...             160    1600.0

[5 rows x 26 columns]

In [367]:
# priniting the details about the train dataset

print("\nEDA on Training Set\n")
print("#"*30)

print("\nFeatures/Columns : \n", df_train.columns)
print("\n\nNumber of Features/Columns : ", len(df_train.columns))
print("\nNumber of Rows : ",len(df_train))
print("\n\nData Types :\n", df_train.dtypes)

print("\n Contains NaN/Empty cells : ", df_train.isnull().values.any())

print("\n Total empty cells by column :\n", df_train.isnull().sum(), "\n\n")

print("\n Perecentage of missing values in train datframe is: \n", str(100*(df_train.isnull().sum().sum()/len(df_train)))+'%')

EDA on Training Set

##############################

Features/Columns :
 Index(['manufacturer_name', 'model_name', 'transmission', 'color',
       'odometer_value', 'year_produced', 'engine_fuel', 'engine_has_gas',
       'engine_type', 'engine_capacity', 'body_type', 'has_warranty', 'state',
       'drivetrain', 'feature_0', 'feature_1', 'feature_2', 'feature_3',
       'feature_4', 'feature_5', 'feature_6', 'feature_7', 'feature_8',
       'feature_9', 'duration_listed', 'price_usd'],
      dtype='object')


Number of Features/Columns :  26

Number of Rows :  30824


Data Types :
 manufacturer_name     object
model_name            object
transmission          object
color                 object
odometer_value         int64
year_produced          int64
engine_fuel           object
engine_has_gas         int64
engine_type           object
engine_capacity      float64
body_type             object
has_warranty           int64
state                 object
drivetrain            object
feature_0              int64
feature_1              int64
feature_2              int64
feature_3              int64
feature_4              int64
feature_5              int64
feature_6              int64
feature_7              int64
feature_8              int64
feature_9              int64
duration_listed        int64
price_usd            float64
dtype: object

 Contains NaN/Empty cells :  False

 Total empty cells by column :
 manufacturer_name    0
model_name           0
transmission         0
color                0
odometer_value       0
year_produced        0
engine_fuel          0
engine_has_gas       0
engine_type          0
engine_capacity      0
body_type            0
has_warranty         0
state                0
drivetrain           0
feature_0            0
feature_1            0
feature_2            0
feature_3            0
feature_4            0
feature_5            0
feature_6            0
feature_7            0
feature_8            0
feature_9            0
duration_listed      0
price_usd            0
dtype: int64



 Perecentage of missing values in train datframe is:
 0.0%

In [368]:
# Importing the test dataset

df_test = pd.read_csv('Test.csv', engine= 'python', encoding= 'latin1')
df_test.drop('Unnamed: 0', axis = 1, inplace = True)
df_test.head()

  manufacturer_name model_name  ... feature_9 duration_listed
0           Renault     Megane  ...         1             114
1           Peugeot        206  ...         1              67
2        Volkswagen     Sharan  ...         0              50
3             Volvo       XC60  ...         1              79
4             Mazda          3  ...         0              74

[5 rows x 25 columns]

In [369]:
# priniting the details about the test dataset

print("#"*30)
print("\nEDA on Test Set\n")
print("#"*30)


print("\nFeatures/Columns : \n",df_test.columns)
print("\n\nNumber of Features/Columns : ",len(df_test.columns))
print("\nNumber of Rows : ",len(df_test))
print("\n\nData Types :\n", df_test.dtypes)
print("\n Contains NaN/Empty cells : ", df_test.isnull().values.any())
print("\n Total empty cells by column :\n", df_test.isnull().sum())
print("\n Perecentage of missing values in test datframe is: \n", str(100*(df_test.isnull().sum().sum()/len(df_test)))+'%')

##############################

EDA on Test Set

##############################

Features/Columns :
 Index(['manufacturer_name', 'model_name', 'transmission', 'color',
       'odometer_value', 'year_produced', 'engine_fuel', 'engine_has_gas',
       'engine_type', 'engine_capacity', 'body_type', 'has_warranty', 'state',
       'drivetrain', 'feature_0', 'feature_1', 'feature_2', 'feature_3',
       'feature_4', 'feature_5', 'feature_6', 'feature_7', 'feature_8',
       'feature_9', 'duration_listed'],
      dtype='object')


Number of Features/Columns :  25

Number of Rows :  7707


Data Types :
 manufacturer_name     object
model_name            object
transmission          object
color                 object
odometer_value         int64
year_produced          int64
engine_fuel           object
engine_has_gas         int64
engine_type           object
engine_capacity      float64
body_type             object
has_warranty           int64
state                 object
drivetrain            object
feature_0              int64
feature_1              int64
feature_2              int64
feature_3              int64
feature_4              int64
feature_5              int64
feature_6              int64
feature_7              int64
feature_8              int64
feature_9              int64
duration_listed        int64
dtype: object

 Contains NaN/Empty cells :  False

 Total empty cells by column :
 manufacturer_name    0
model_name           0
transmission         0
color                0
odometer_value       0
year_produced        0
engine_fuel          0
engine_has_gas       0
engine_type          0
engine_capacity      0
body_type            0
has_warranty         0
state                0
drivetrain           0
feature_0            0
feature_1            0
feature_2            0
feature_3            0
feature_4            0
feature_5            0
feature_6            0
feature_7            0
feature_8            0
feature_9            0
duration_listed      0
dtype: int64

 Perecentage of missing values in test datframe is:
 0.0%

In [370]:
# Extract numerical columns from train dataframe
numerical_cols = [cname for cname in df_train.columns if
                df_train[cname].dtype in ['int64', 'float64']]

num_train= df_train[numerical_cols].copy()

num_train.head()

   odometer_value  year_produced  ...  duration_listed  price_usd
0          245000           2006  ...                7     4250.0
1          265542           2002  ...              133     4000.0
2          168000           2009  ...                0    10900.0
3          225522           2008  ...               20     6999.0
4          370000           1991  ...              160     1600.0

[5 rows x 17 columns]

In [371]:
# pRINT TEST SET

num_test = df_test[numerical_cols[:-1]]
num_test.head()

   odometer_value  year_produced  ...  feature_9  duration_listed
0          360000           1997  ...          1              114
1          267000           1999  ...          1               67
2          172000           2000  ...          0               50
3          230000           2009  ...          1               79
4          206000           2007  ...          0               74

[5 rows x 16 columns]

In [372]:
# Let's create a function to create adjusted R-Squared
def adj_r2(x,y):
    r2 = regression.score(x,y)
    n = x.shape[0]
    p = x.shape[1]
    adjusted_r2 = 1-(1-r2)*(n-1)/(n-p-1)
    return adjusted_r2

In [373]:
# Extract categorical features from dataframe and establish train set and test set
category_cols = [col for col in df_train.columns if df_train[col].dtype == "object"]

# Frame that contains category columns and target variable
category_frame = category_cols.copy()
category_frame.append('price_usd')

# Create test and train dataframe
cat_df_train = df_train[category_cols]
cat_df_test = df_test[category_cols]

# Print dataframe
cat_df_train.head()

  manufacturer_name model_name transmission  ...  body_type  state drivetrain
0              Ford     Fusion   mechanical  ...  hatchback  owned      front
1             Dodge    Caravan    automatic  ...    minivan  owned      front
2              Ford     Galaxy   mechanical  ...    minivan  owned      front
3             Mazda          6   mechanical  ...  universal  owned      front
4              Audi         80   mechanical  ...      sedan  owned      front

[5 rows x 9 columns]

In [374]:
# Let's print the test set
cat_df_test.head()

  manufacturer_name model_name transmission  ...  body_type  state drivetrain
0           Renault     Megane   mechanical  ...      coupe  owned      front
1           Peugeot        206   mechanical  ...  hatchback  owned      front
2        Volkswagen     Sharan   mechanical  ...    minivan  owned      front
3             Volvo       XC60   mechanical  ...  universal  owned      front
4             Mazda          3   mechanical  ...      sedan  owned      front

[5 rows x 9 columns]

In [375]:
# let's have a look at how many labels each variable has

for col in category_cols:
    print(col, ': ', len(cat_df_train[col].unique()), ' labels')

manufacturer_name :  55  labels
model_name :  1070  labels
transmission :  2  labels
color :  12  labels
engine_fuel :  6  labels
engine_type :  3  labels
body_type :  12  labels
state :  3  labels
drivetrain :  3  labels

In [376]:
# Let's print the shape of this train and test dataframe
print("The shape of the train set is: ", cat_df_train.shape)

print("The shape of the train set is: ", cat_df_test.shape)

The shape of the train set is:  (30824, 9)
The shape of the train set is:  (7707, 9)

In [377]:
# Columns that can be safely label encoded in validation set
good_label_cols = [col for col in category_cols if
                   set(cat_df_train[col]) == set(cat_df_test[col])]


# Problematic columns that will be dropped from the validation dataset
bad_label_cols = list(set(category_cols) - set(good_label_cols)) 

print('Categorical columns that will be label encoded :', good_label_cols)
print('\nCategorical columns that will be dropped from the dataset for label encoding:', bad_label_cols)

Categorical columns that will be label encoded : ['manufacturer_name', 'transmission', 'color', 'engine_type', 'body_type', 'state', 'drivetrain']

Categorical columns that will be dropped from the dataset for label encoding: ['model_name', 'engine_fuel']

In [378]:
# Select categorical columns with relatively low cardinality (convenient but arbitrary)
low_cardinality = [cname for cname in category_cols if
                    cat_df_train[cname].nunique() < 5 and
                    cat_df_train[cname].dtype == "object"]
low_cardinality

['transmission', 'engine_type', 'state', 'drivetrain']

In [379]:
# Select categorical columns with relatively low cardinality (convenient but arbitrary)
high_cardinality = [cname for cname in category_cols if
                    cat_df_train[cname].nunique() > 5 and
                    cat_df_train[cname].dtype == "object"]
high_cardinality

['manufacturer_name', 'model_name', 'color', 'engine_fuel', 'body_type']

### Method 1: One-hot encoding of all columns

In [380]:
# let's examine how many columns we will obtain after one hot encoding these variables
cat_df_train_oh = pd.get_dummies(cat_df_train, drop_first=True)
cat_df_test_oh = pd.get_dummies(cat_df_test, drop_first=True)

# Let's print the shape of this train and test dataframe after one-hot encoding
print("The shape of the train set is: ", cat_df_train_oh.shape)

print("The shape of the train set is: ", cat_df_test_oh.shape)

cat_df_train_oh.to_csv('df_train_oh.csv')
cat_df_test_oh.to_csv('df_test_oh.csv')

The shape of the train set is:  (30824, 1157)
The shape of the train set is:  (7707, 907)

#### The number of columns generated is too much and would result in the curse of dimensionality and it may be lead to overfitting since there are way too much columns

### Method 2: Count Encoding

In [381]:
# Create ne dataframe for train and test set
cat_df_train_ce = cat_df_train.copy()
cat_df_test_ce = cat_df_test.copy()

cat_df_train_ce.head()

  manufacturer_name model_name transmission  ...  body_type  state drivetrain
0              Ford     Fusion   mechanical  ...  hatchback  owned      front
1             Dodge    Caravan    automatic  ...    minivan  owned      front
2              Ford     Galaxy   mechanical  ...    minivan  owned      front
3             Mazda          6   mechanical  ...  universal  owned      front
4              Audi         80   mechanical  ...      sedan  owned      front

[5 rows x 9 columns]

In [382]:
# Performing count encoding

count_enc = ce.CountEncoder()

# Apply the count encoder to dataframe
count_encoded_train = count_enc.fit_transform(cat_df_train_ce).add_suffix('_ce')
count_encoded_test = count_enc.transform(cat_df_test_ce).add_suffix('_ce')

count_encoded_train.head()

   manufacturer_name_ce  model_name_ce  ...  state_ce  drivetrain_ce
0                  2080            119  ...     30154          22193
1                   247             69  ...     30154          22193
2                  2080            153  ...     30154          22193
3                  1081            223  ...     30154          22193
4                  1972            234  ...     30154          22193

[5 rows x 9 columns]

In [383]:
# Let's print the test set
count_encoded_test.head()

   manufacturer_name_ce  model_name_ce  ...  state_ce  drivetrain_ce
0                  1999          302.0  ...     30154          22193
1                  1529          111.0  ...     30154          22193
2                  3406          136.0  ...     30154          22193
3                   573           38.0  ...     30154          22193
4                  1081          115.0  ...     30154          22193

[5 rows x 9 columns]

In [384]:
# We collect all of these features (numerical and categorical) in a new dataframe that we can use to train a count encoder-based model
df_train_ce = num_train.join(count_encoded_train)
df_test_ce = num_test.join(count_encoded_test)

df_train_ce.to_csv('df_train_ce.csv')
df_test_ce.to_csv('df_test_ce.csv')

df_train_ce.head()

   odometer_value  year_produced  ...  state_ce  drivetrain_ce
0          245000           2006  ...     30154          22193
1          265542           2002  ...     30154          22193
2          168000           2009  ...     30154          22193
3          225522           2008  ...     30154          22193
4          370000           1991  ...     30154          22193

[5 rows x 26 columns]

### Method 3 : Target Encoding

In [385]:
# Create the  Target encoder object
cat_df_train_te = cat_df_train.copy()
cat_df_test_te = cat_df_test.copy()

# Apply traget encoding 
target_enc = ce.TargetEncoder(cols=category_cols)
target_enc.fit(cat_df_train_te[category_cols],num_train['price_usd'] )

# Transform the features, rename the columns with _target suffix, and join to dataframe
target_encoded_train = target_enc.transform(cat_df_train_te[category_cols]).add_suffix('_te')
target_encoded_test = target_enc.transform(cat_df_test_te[category_cols]).add_suffix('_te')

# We collect all of these features (numerical and categorical) in a new dataframe that we can use to train a Target encoder-based model
df_train_te = num_train.join(target_encoded_train)
df_test_te = num_test.join(target_encoded_test)

df_train_te.to_csv('df_train_te.csv')
df_test_te.to_csv('df_test_te.csv')

df_train_te.head()

   odometer_value  year_produced  ...     state_te  drivetrain_te
0          245000           2006  ...  6460.257538    5373.827909
1          265542           2002  ...  6460.257538    5373.827909
2          168000           2009  ...  6460.257538    5373.827909
3          225522           2008  ...  6460.257538    5373.827909
4          370000           1991  ...  6460.257538    5373.827909

[5 rows x 26 columns]

### Method 3: Label Encoding

In [386]:
# Create dataframe and drop labels that will not be label encoded
cat_df_train_le = cat_df_train.copy()
cat_df_test_le = cat_df_test.copy()

# drop bad column labels
cat_df_train_le.drop(bad_label_cols, axis = 1, inplace = True)
cat_df_test_le.drop(bad_label_cols, axis= 1, inplace = True)

In [387]:
#  Create lABEL Encoder object and transform datafame
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
cat_df_train_le[good_label_cols]= cat_df_train_le[good_label_cols].apply(le.fit_transform)
cat_df_test_le[good_label_cols]= cat_df_test_le[good_label_cols].apply(le.fit_transform)


cat_df_train_le.head()

   manufacturer_name  transmission  color  ...  body_type  state  drivetrain
0                 14             1      1  ...          2      2           1
1                 12             0      8  ...          6      2           1
2                 14             1      1  ...          6      2           1
3                 30             1      6  ...         10      2           1
4                  2             1      0  ...          8      2           1

[5 rows x 7 columns]

In [388]:
# We collect all of these features (numerical and categorical) in a new dataframe that we can use to train a Target encoder-based model
df_train_le = num_train.join(cat_df_test_le)
df_test_le = num_test.join(cat_df_test_le)

df_train_le.to_csv('df_train_le.csv')
df_test_le.to_csv('df_test_le.csv')

df_train_le.head()

   odometer_value  year_produced  engine_has_gas  ...  body_type  state  drivetrain
0          245000           2006               0  ...        1.0    2.0         1.0
1          265542           2002               0  ...        2.0    2.0         1.0
2          168000           2009               0  ...        6.0    2.0         1.0
3          225522           2008               0  ...       10.0    2.0         1.0
4          370000           1991               0  ...        8.0    2.0         1.0

[5 rows x 24 columns]

### Method 4: Selective encoding


Selectively one-hot encoding top X=10 or 20 or 50 etc. values in specific columns. For example, we observe that the column manufacturer_name has 55 distinct values hence we choose to encode the top 10 models as 1 and others as 0

In [389]:
# let's find the top 20 most frequent categories for the variable manufaturer_name
cat_df_train_se = cat_df_train.copy()
cat_df_test_se = cat_df_test.copy()

# Sort column
cat_df_train_se.manufacturer_name.value_counts().sort_values(ascending=False).head(20)

Volkswagen       3406
Opel             2193
BMW              2091
Ford             2080
Renault          1999
Audi             1972
Mercedes-Benz    1807
Peugeot          1529
Citroen          1236
Nissan           1084
Mazda            1081
Toyota            994
Hyundai           908
Skoda             906
Kia               715
Mitsubishi        711
Fiat              656
Honda             639
Volvo             573
      386
Name: manufacturer_name, dtype: int64

In [390]:
# let's make a list with the most frequent categories of the variable manufacturer_name

top_labels_man_name = [y for y in cat_df_train_se.manufacturer_name.value_counts().sort_values(ascending=False).head(20).index]
top_labels_man_name

['Volkswagen',
 'Opel',
 'BMW',
 'Ford',
 'Renault',
 'Audi',
 'Mercedes-Benz',
 'Peugeot',
 'Citroen',
 'Nissan',
 'Mazda',
 'Toyota',
 'Hyundai',
 'Skoda',
 'Kia',
 'Mitsubishi',
 'Fiat',
 'Honda',
 'Volvo',
 '\x90\x92\x90\x90\x90\x97']

In [391]:
# let's find the top 20 most frequent categories for the variable model_name

cat_df_train_se.model_name.value_counts().sort_values(ascending=False).head(50)

Passat      1153
Astra        595
Golf         577
A6           546
Mondeo       503
Vectra       469
Laguna       427
A4           400
406          340
Octavia      306
100          306
Focus        303
Megane       302
Omega        291
525          289
Zafira       287
Xantia       274
626          274
Primera      273
Scenic       267
C5           263
Transit      247
520          237
80           234
Civic        234
X5           232
6            223
Rapid        209
320          201
323          192
Sprinter     188
Santa Fe     187
Jetta        186
Accord       186
T4           163
Escort       162
Touran       161
Galaxy       153
318          151
308          150
Almera       150
307          150
E200         136
Sharan       136
Sportage     134
Corolla      134
Rio          132
Sorento      130
A8           126
Lancer       122
Name: model_name, dtype: int64

In [392]:
# let's make a list with the most frequent categories of the variable model_name

top_labels_mod_name = [y for y in cat_df_train_se.model_name.value_counts().sort_values(ascending=False).head(50).index]
top_labels_mod_name

['Passat',
 'Astra',
 'Golf',
 'A6',
 'Mondeo',
 'Vectra',
 'Laguna',
 'A4',
 '406',
 'Octavia',
 '100',
 'Focus',
 'Megane',
 'Omega',
 '525',
 'Zafira',
 'Xantia',
 '626',
 'Primera',
 'Scenic',
 'C5',
 'Transit',
 '520',
 '80',
 'Civic',
 'X5',
 '6',
 'Rapid',
 '320',
 '323',
 'Sprinter',
 'Santa Fe',
 'Jetta',
 'Accord',
 'T4',
 'Escort',
 'Touran',
 'Galaxy',
 '318',
 '308',
 'Almera',
 '307',
 'E200',
 'Sharan',
 'Sportage',
 'Corolla',
 'Rio',
 'Sorento',
 'A8',
 'Lancer']

In [393]:
# get whole set of dummy variables, for all the categorical variables

def one_hot_encoding_top_x(df, variable, top_x_labels):
    # function to create the dummy variables for the most frequent labels
    # we can vary the number of most frequent labels that we encode
    
    for label in top_x_labels:
        df[variable+'_'+label] = np.where(df[variable]==label, 1, 0)

In [394]:
# encode manufaturer_name into the 10 most frequent categories
one_hot_encoding_top_x(cat_df_train_se, 'manufacturer_name', top_labels_man_name)
one_hot_encoding_top_x(cat_df_test_se, 'manufacturer_name', top_labels_man_name)
cat_df_train_se.head()

  manufacturer_name  ... manufacturer_name_
0              Ford  ...                              0
1             Dodge  ...                              0
2              Ford  ...                              0
3             Mazda  ...                              0
4              Audi  ...                              0

[5 rows x 29 columns]

In [395]:
# encode manufaturer_name into the 10 most frequent categories
one_hot_encoding_top_x(cat_df_train_se, 'model_name', top_labels_mod_name)
one_hot_encoding_top_x(cat_df_test_se, 'model_name', top_labels_mod_name)
cat_df_train_se.head()

  manufacturer_name model_name  ... model_name_A8 model_name_Lancer
0              Ford     Fusion  ...             0                 0
1             Dodge    Caravan  ...             0                 0
2              Ford     Galaxy  ...             0                 0
3             Mazda          6  ...             0                 0
4              Audi         80  ...             0                 0

[5 rows x 79 columns]

In [396]:
# Drop manufaturer_name column in train and test set
cat_df_train_se.drop(['manufacturer_name', 'model_name'], axis = 1, inplace= True)
cat_df_test_se.drop(['manufacturer_name','model_name'], axis = 1, inplace= True)

cat_df_train_se.head()

  transmission   color  ... model_name_A8 model_name_Lancer
0   mechanical    blue  ...             0                 0
1    automatic  silver  ...             0                 0
2   mechanical    blue  ...             0                 0
3   mechanical   other  ...             0                 0
4   mechanical   black  ...             0                 0

[5 rows x 77 columns]

KeyError: ignored

In [400]:
# importing one hot encoder from sklearn 
cat_df_train_se2.head()

  transmission   color  ... model_name_A8 model_name_Lancer
0   mechanical    blue  ...             0                 0
1    automatic  silver  ...             0                 0
2   mechanical    blue  ...             0                 0
3   mechanical   other  ...             0                 0
4   mechanical   black  ...             0                 0

[5 rows x 77 columns]

In [116]:
# Print shape of train and test set after modifications
print("The shape of the train set is: ", cat_df_train.shape)

print("The shape of the train set is: ", cat_df_test.shape)

The shape of the train set is:  (30824, 77)
The shape of the train set is:  (7707, 77)